<header class="header">
  <div class="header-top" data-header>
      <div class="header-logo">
          <a href="#">
              <img src="/assets/images/logo.png" alt="SAF Gems">
          </a>
      </div>
      
    
  <div class="container">
      <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
        <span class="line line-1"></span>
        <span class="line line-2"></span>
        <span class="line line-3"></span>
      </button>

      

      <div class="input-wrapper">
        <input type="search" name="search" placeholder="Search Gem Stone" class="search-field">
        <button class="search-submit" aria-label="search">
          <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>

      

      <div class="header-actions">
        <button class="header-action-btn" aria-label="user">
          <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
        </button>

        <button class="header-action-btn" aria-label="favourite item">
          <ion-icon name="star-outline" aria-hidden="true"></ion-icon>
          <span class="btn-badge">0</span>
        </button>

        <button class="header-action-btn" aria-label="cart item">
          <data class="btn-text" value="0">$0.00</data>
          <ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon>
          <span class="btn-badge">3</span>
        </button>
      </div>
  </div>

  <nav class="navbar">
      <ul class="navbar-list">
        <li><a href="./index.html" class="navbar-link has-after">Home</a></li>
        <li class="dropdown">
          <a href="#shop" class="navbar-link dropdown-toggle" data-nav-link>Shop</a>
          <ul class="dropdown-menu">
            <li><a href="#buy-stones" class="dropdown-item">Buy Stones</a></li>
            <li><a href="#bid" class="dropdown-item">Bid</a></li>
          </ul>
        </li>
        <li><a href="/pages/about page/about.html" class="navbar-link has-after">About</a></li>
        <li><a href="/pages/contact us page/contact.html" class="navbar-link has-after">Contact Us</a></li>
      </ul>
    </nav>
</header>