.header .input-wrapper,
.header-action-btn:not(:first-child)
{ 
  display: flex;
  position: relative;
}

.header {
  position: relative;
  padding-block-end: 80px;
  margin-block-end: 10px;
  z-index: 1000;
  
}
.header-top {
  position: relative; 
  padding-block: 24px 0; 
  z-index: 4;
  
}
.header-top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
  
}
.header-top:is(.active, .header-hide) { all: unset; }

.header-top.active {
  position: fixed;
  top: 0;
  bottom: auto;
  box-shadow: var(--shadow-1);
  transform: none; 
}

.header-top.header-hide {
  box-shadow: none;
  transform: translateY(0);
}

.header-top.active .navbar {
  position: fixed;
  top: -80px;
  bottom: auto;
  padding-block: 28px;
  box-shadow: var(--shadow-1);
  transform: translateY(100%);
  transition: var(--transition-2);
}

.header-top.header-hide .navbar {
  box-shadow: none;
  transform: translateY(0);
}

.nav-open-btn {
  width: 26px;
  display: none;
  gap: 6px;
  padding-block: 5px;
}
.nav-open-btn .line {
  height: 2px;
  background-color: var(--black);
}

.nav-open-btn .line-1 { width: 15px; }

.nav-open-btn .line-3 { width: 18px; }


.search-field {
  width: 25rem;
  font-size: var(--fs-7);
  border: 2px solid black;
  border-radius: 15px;
  padding: 10px 20px;
  transition: 0.25s ease;
  margin: 15px;
  
}
.search-field::placeholder { 
  color: hsl(0, 0%, 61%); 
}
/*.search-field:focus { border-color: red; }*/
.header .search-submit {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  font-size: 25px;
  background-color: white;
  border: none;

}
.header .search-submit ion-icon { --ionicon-stroke-width: 30px; }/*width of search tool*/

.header-logo{
  height: 20%;
  width: 20%;
  position: relative;
  margin-left: 50%;
  
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 80px;
}

.header-action-btn {
  font-size: 35px;
  transition: 0.25s ease;
  position: relative;
  background-color: #ffffff;
  border: none;
}

.header-action-btn:is(:hover, :focus) { color: #449b9b; font-size: 40px; }

.header-action-btn .btn-badge {
  position: absolute;
  top: 0;
  right: -10px;
  background-color: yellowgreen;
  color: white;
  font-size: 1.3rem;
  min-width: 18px;
  height: 20px;
  line-height: 1;
  border-radius: 1rem;
}

.header-action-btn:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-action-btn .btn-text {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-start: 5px;
}
.navbar {
  position: relative;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #449b9b;
  padding-block: 18px;
  z-index: 4;
}

.navbar .navbar-list {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.navbar .navbar-link {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
}

.navbar .navbar-link::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  transition: 0.25s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.navbar .navbar-link:is(:hover, :focus)::after {
  transform: scaleX(1);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  border-radius: 0 0 10px 10px;
  background-color: hsl(0, 0%, 80%);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 5; /* Ensure it's above other elements */
}

/* Dropdown items */
.dropdown-item {
  padding: 12px 16px;
  display: block;
  font-weight: bold;
  color: #449b9b;
  text-decoration: none;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* Dropdown item hover effect */
.dropdown-item:hover {
  color: black
}