.success-message {
    background-color: #d4ede9; /* Light green background */
    color: #449f9f ; /* Dark green text */
    padding: 15px;
    border: 1px solid #c3e6cb; /* Light green border */
    border-radius: 4px;
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}

.error-message {
    background-color: #d4ede9; /* Light green background */
    color: #9f4444 ; /* Dark green text */
    padding: 15px;
    border: 1px solid #c3e6cb; /* Light green border */
    border-radius: 4px;
    font-size: 16px;
    margin: 20px 0;
    text-align: center;
}
